:root {
  --text-color: #ffffff;
}

body {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  background-image: url("../assets/bg_home_big.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 1050px) {
  body {
    background-position: center;
  }
}

aside {
  position: absolute;
}

.logo {
  left: 68px;
  top: 33px;
}

@media (max-width: 1050px) {
  aside {
    position: static;
  }
  .logo {
    margin-left: 15px;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .logo img {
    height: 60px;
    width: 60px;
  }
}

main {
  margin-top: 6.5rem;
}

@media (max-width: 1050px) {
  main {
    margin-top: 2rem;
  }
}

@media (min-width: 2000px) {
  h1 {
    font-size: 6rem;
  }
}

h1 {
  margin-left: 342px;
  font-size: 8rem;
  font-weight: 800;
  margin-bottom: 15px;
}

@media (min-width: 2000px) {
  h1 {
    margin-bottom: 5vh;
  }
}

@media (max-width: 1500px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 1050px) {
  h1 {
    line-height: 120%;
    margin-left: 15px;
    font-size: 3rem;
    margin-bottom: 15vh;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

.prize {
  margin-left: 342px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 4.375rem;
  margin-bottom: 15px;
}

@media (max-width: 1050px) {
  .prize {
    margin-left: 15px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3vh;
  }
}

@media (min-width: 2000px) {
  .prize {
    margin-bottom: 3vh;
  }
}

@media (max-width: 767px) {
  .prize {
    font-size: 1.75rem;
  }
}

.money {
  margin-left: 342px;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 67px;
}

@media (max-width: 1050px) {
  .money {
    margin-left: 15px;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 25vh;
  }
}

@media (min-width: 2000px) {
  .money {
    margin-bottom: 25vh;
  }
}

main a {
  color: var(--text-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-weight: 700;
  font-size: 2rem;
  border: 5px solid #2691df;
  border-radius: 15px;
  padding: 20px 30px;
}

@media (max-width: 1050px) {
  main a {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 15px;
  }
}
