:root {
    --spacer: 1rem;
}

.ft {
    color: #f00
}

/*флекс для использования в контентной части*/
.d-inline-flex {
    display: inline-flex !important;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.gap-1 {
    gap: 1.5rem;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.flex-grow {
    flex-grow: 1;
}

.flex-row-to-col {
    display: flex;
    flex-direction: row;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    flex-shrink: 1 !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-baseline {
    align-items: baseline !important;
}

.align-items-stretch {
    align-items: stretch !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: calc(var(--spacer) * .25) !important;
}

.m-2 {
    margin: calc(var(--spacer) * .5) !important;
}

.m-3 {
    margin: calc(var(--spacer) * .75) !important;
}

.m-4 {
    margin: calc(var(--spacer) * 1) !important;
}

.m-5 {
    margin: calc(var(--spacer) * 1.25) !important;
}

.mb-5 {
    margin-bottom: calc(var(--spacer) * 1.25) !important;
}

.mt-2 {
    margin-top: calc(var(--spacer) * .5) !important;
}

.mt-5 {
    margin-top: calc(var(--spacer) * 1.25) !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: calc(var(--spacer) * .25) !important;
}

.p-2 {
    padding: calc(var(--spacer) * .5) !important;
}

.p-3 {
    padding: calc(var(--spacer) * .75) !important;
}

.p-4 {
    padding: calc(var(--spacer) * 1) !important;
}

.relative {
    position: relative;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-error:empty {
    padding: 0;
    margin-bottom: 0;
    border: none;
}

/*формы*/
.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-inline .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}

label {
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-text {
    display: block;
    margin-top: .25rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn.disabled, .btn:disabled {
    opacity: .65;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(108,117,125,.5);
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

