:root {
  --text-color: #ffffff;
}

body {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  background-image: url("../assets/bg_gradient_big.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  color: var(--text-color);
}

header {
  background-color: #2f2f2f;
}

header nav {
  padding: 20px 43px;
  display: grid;
  grid-template-columns: max-content 0fr 1fr max-content;
  align-items: center;
}

@media (max-width: 1070px) {
  header nav {
    padding: 12px 10px;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-column-gap: 15px;
  }
}

@media (max-width: 1070px) {
  .logo {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 767px) {
  .logo {
    height: 40px;
    width: 40px;
  }
}

#menu {
  margin-left: 7.125rem;
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.nav_burger {
  display: none;
}

@media (max-width: 1070px) {
  .nav_burger {
    display: block;
  }

  #menu {
    display: none;
  }

  #menu.overlay {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 3;
    margin-left: 0;
    top: 84px;
    left: 0px;
    background-color: #2b2b2b;
    overflow-x: hidden;
    padding: 20px;
  }

  #menu.overlay li {
    margin-bottom: 7px;
  }
}

.profile {
  align-items: center;
  gap: 10px;
  display: flex;
  justify-self: end;
  font-size: 1.25rem;
}

.profile button {
  background-color: inherit;
}

@media (max-width: 1070px) {
  .profile_avatar {
    height: 60px;
    width: 60px;
  }

  .profile li:nth-child(1),
  .profile li:nth-child(2),
  .profile li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 767px) {
  .profile_avatar {
    height: 40px;
    width: 40px;
  }

  #side_burger {
    height: 30px;
    width: 30px;
  }
}

#sideMenu {
  display: none;
}

#sideMenu.overlay {
  display: block;
  height: 100%;
  width: 22rem;
  position: absolute;
  z-index: 3;
  top: 120px;
  right: 0px;
  background-color: #2b2b2b;
  overflow-x: hidden;
  padding: 66px 20px;
}

.phone_nav_burger {
  display: block;
}

#sideBurger {
  display: block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  overflow: visible;
  position: relative;
  z-index: 3;
  margin-top: 30px;
}

.phone_nav_burger,
.phone_nav_burger:before,
.phone_nav_burger:after {
  background: #a6a6a6;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.phone_nav_burger:before,
.phone_nav_burger:after {
  content: "";
}

.phone_nav_burger:before {
  left: 0px;
  top: -8px;
  width: 30px;
}

.phone_nav_burger {
  right: 0px;
  top: 0px;
  width: 30px;
}

.phone_nav_burger:after {
  left: 0px;
  top: 8px;
  width: 30px;
}

#sideBurger.close .phone_nav_burger:before {
  top: 0px;
  transform: rotate(90deg);
  width: 30px;
  background: #a6a6a6;
}

#sideBurger.close .phone_nav_burger {
  margin-top: -8px;
  transform: rotate(-45deg);
  top: 8px;
  width: 30px;
  background: #a6a6a6;
}

#sideBurger.close .phone_nav_burger:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
  background: #a6a6a6;
}

@media (max-width: 1070px) {
  #sideMenu.overlay {
    width: 22rem;
    top: 84px;
    padding: 56px 20px;
  }
}

aside h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.statistics {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

.likes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}

.likes div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.progress {
  background-image: linear-gradient(to right, green, red);
  width: 100%;
  height: 5px;
  border-radius: 15px;
  margin-bottom: 125px;
}

aside ul {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

aside ul li {
  display: flex;
  gap: 15px;
  align-items: center;
}

.match,
.match_chat {
  background-color: #1d202a;
  border-radius: 15px;
  max-width: 1250px;
  margin: 20px auto;
}

@media (max-width: 1250px) {
  .match,
  .match_chat {
    margin: 20px;
  }
}

@media (max-width: 400px) {
  .match,
  .match_chat {
    margin: 10px;
  }
}

.teams_header {
  border-bottom: 1px solid #696969;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .teams_header_icon {
    display: none;
  }

  .teams_header_avatar {
    height: 25px;
    width: 25px;
  }
}

.teams_header_left,
.teams_header_right {
  display: flex;
  gap: 15px;
  padding: 15px 30px;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.teams_header_left span,
.teams_header_right span {
  max-width: 9ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  .teams_header_left,
  .teams_header_right {
    padding: 7px 10px;
    align-items: center;
  }
}

.teams_header_center {
  font-weight: 500;
  font-size: 1.25rem;
}

.teams_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 38px;
  border-bottom: 1px solid #696969;
}

@media (max-width: 767px) {
  .teams_body {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
}

.teams_body_player {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 600;
  max-width: 9ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.teams_body_player_nickname {
  max-width: 5ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1250px) {
  .team_body_player_avatar {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 950px) {
  .team_body_player_avatar {
    height: 40px;
    width: 40px;
  }
}

.teams_body_player_kda {
  font-size: 0.75rem;
  font-weight: 400;
}

.teams_body_left,
.teams_body_right {
  padding: 50px 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.player_crown {
  position: absolute;
  top: -23px;
}

.team_winner_left {
  position: absolute;
  display: block;
  left: -40%;
}

.team_winner_right {
  position: absolute;
  display: block;
  right: -40%;
}

@media (max-width: 1040px) {
  .team_winner_left {
    left: -60%;
  }
  .team_winner_right {
    right: -60%;
  }
}

@media (max-width: 800px) {
  .team_winner_left {
    left: -45%;
  }
  .team_winner_right {
    right: -45%;
  }
}

@media (max-width: 767px) {
  .team_winner_left {
    left: -80%;
  }
  .team_winner_right {
    right: -80%;
  }
}

.teams_body_center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
}

@media (max-width: 767px) {
  .teams_body_center {
    margin-top: 0;
  }
}

.teams_body_center span:nth-child(4) {
  display: block;
  padding-top: 16px;
}

@media (max-width: 767px) {
  .teams_body_center span:nth-child(4) {
    display: none;
  }
}

.score {
  font-size: 2.5rem;
  font-weight: 600;
}

@media (max-width: 1050px) {
  .score {
    font-size: 2rem;
    font-weight: 600;
  }
}

.time {
  display: flex;
  align-items: center;
  gap: 4px;
}

.match_info {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #696969;
}

@media (max-width: 767px) {
  .match_info {
    display: grid;
    row-gap: 0px;
    column-gap: 30px;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
  }
}

.match_info_cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 26px 32px;
}

@media (max-width: 767px) {
  .match_info_cell {
    gap: 5px;
    padding: 20px 10px;
  }
}

.match_info_cell span:first-of-type {
  font-weight: 400;
  font-size: 0.875rem;
  color: #dadada;
}

.match_info_cell span:last-of-type {
  font-weight: 500;
  font-size: 1rem;
}

.match_actions {
  display: flex;
  padding: 30px 32px;
  gap: 20px;
}

@media (max-width: 767px) {
  .match_actions {
    padding: 20px 10px;
  }

  .match_actions img {
    height: 12px;
    width: 12px;
  }
}

.actions_download a,
.actions_stat a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: #dadada;
}

@media (max-width: 767px) {
  .actions_download a,
  .actions_stat a {
    gap: 5px;
    font-size: 0.833rem;
  }
}

.actions_stat {
  padding-right: 20px;
  border-right: 1px solid #696969;
}

@media (max-width: 767px) {
  .actions_stat {
    padding-right: 0px;
    border-right: 0;
  }
}

.match_chat_header span {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 1.125rem;
  border-bottom: 2px solid #2691df;
}

@media (max-width: 767px) {
  .match_chat_header span {
    padding-bottom: 9px;
    font-size: 1rem;
  }
}

.match_chat_header {
  padding: 28px 32px 18px 32px;
  border-bottom: 1px solid #696969;
}

@media (max-width: 767px) {
  .match_chat_header {
    padding: 10px;
  }
}

.match_chat_body {
  padding-top: 22px;
}

.match_chat_time {
  display: block;
  font-weight: 400;
  font-size: 0.875rem;
  color: #dadada;
  position: relative;
  text-align: center;
}

.match_chat_time:before {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: #696969;
  left: 0;
  top: 50%;
  position: absolute;
}

.match_chat_time:after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: #696969;
  right: 0;
  top: 50%;
  position: absolute;
}

@media (max-width: 900px) {
  .match_chat_time:before,
  .match_chat_time:after {
    width: 30%;
  }
}

@media (max-width: 420px) {
  .match_chat_time:before,
  .match_chat_time:after {
    width: 25%;
  }
}

.chat_message {
  padding: 21px 32px 0px 32px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .chat_message {
    padding: 10px;
  }
}

.chat_message:last-of-type {
  padding-bottom: 21px;
}

.chat_message_left {
  display: flex;
  gap: 10px;
  align-items: top;
}

@media (max-width: 767px) {
  .chat_message_avatar {
    height: 25px;
    width: 25px;
  }
}

.message_name_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message_name {
  font-size: 0.875rem;
  font-weight: 600;
  max-width: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message_text {
  font-size: 0.875rem;
  font-weight: 500;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: pretty;
}

@media (max-width: 767px) {
  .message_text {
    max-width: 40ch;
  }
}

.message_time {
  font-size: 0.875rem;
  font-weight: 400;
}
