:root {
  --text-color: #ffffff;
}

body {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  background-image: url("../assets/bg_gradient_big.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  color: var(--text-color);
}

header {
  background-color: #2f2f2f;
}

header nav {
  padding: 20px 43px;
  display: grid;
  grid-template-columns: max-content 0fr 1fr max-content;
  align-items: center;
}

@media (max-width: 1070px) {
  header nav {
    padding: 12px 10px;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-column-gap: 15px;
  }
}

@media (max-width: 1070px) {
  .logo {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 767px) {
  .logo {
    height: 40px;
    width: 40px;
  }
}

#menu {
  margin-left: 7.125rem;
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.nav_burger {
  display: none;
}

@media (max-width: 1070px) {
  .nav_burger {
    display: block;
  }

  #menu {
    display: none;
  }

  #menu.overlay {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 3;
    margin-left: 0;
    top: 84px;
    left: 0px;
    background-color: #2b2b2b;
    overflow-x: hidden;
    padding: 20px;
  }

  #menu.overlay li {
    margin-bottom: 7px;
  }
}

.profile {
  align-items: center;
  gap: 10px;
  display: flex;
  justify-self: end;
  font-size: 1.25rem;
}

.profile button {
  background-color: inherit;
}

@media (max-width: 1070px) {
  .profile_avatar {
    height: 60px;
    width: 60px;
  }

  .profile li:nth-child(1),
  .profile li:nth-child(2),
  .profile li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 767px) {
  .profile_avatar {
    height: 40px;
    width: 40px;
  }

  #side_burger {
    height: 30px;
    width: 30px;
  }
}

#sideMenu {
  display: none;
}

#sideMenu.overlay {
  display: block;
  height: 100%;
  width: 22rem;
  position: absolute;
  z-index: 3;
  top: 120px;
  right: 0px;
  background-color: #2b2b2b;
  overflow-x: hidden;
  padding: 66px 20px;
}

.phone_nav_burger {
  display: block;
}

#sideBurger {
  display: block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  overflow: visible;
  position: relative;
  z-index: 3;
  margin-top: 30px;
}

.phone_nav_burger,
.phone_nav_burger:before,
.phone_nav_burger:after {
  background: #a6a6a6;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.phone_nav_burger:before,
.phone_nav_burger:after {
  content: "";
}

.phone_nav_burger:before {
  left: 0px;
  top: -8px;
  width: 30px;
}

.phone_nav_burger {
  right: 0px;
  top: 0px;
  width: 30px;
}

.phone_nav_burger:after {
  left: 0px;
  top: 8px;
  width: 30px;
}

#sideBurger.close .phone_nav_burger:before {
  top: 0px;
  transform: rotate(90deg);
  width: 30px;
  background: #a6a6a6;
}

#sideBurger.close .phone_nav_burger {
  margin-top: -8px;
  transform: rotate(-45deg);
  top: 8px;
  width: 30px;
  background: #a6a6a6;
}

#sideBurger.close .phone_nav_burger:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
  background: #a6a6a6;
}

@media (max-width: 1070px) {
  #sideMenu.overlay {
    width: 22rem;
    top: 84px;
    padding: 56px 20px;
  }
}

aside h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.team_squad {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 31px 0;
}

.team_vs {
  padding: 15px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: #a6a6a6;
  display: block;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
}

.team_squad_ready{
  text-align: center;
  background-color: #2691df;
  border-radius: 15px;
  width: 100%;
  padding: 15px 65px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.25rem;
  margin: 20px auto;
  display: block;
}


@media (max-width: 980px) {
  .team_squad {
    padding: 20px 0;
  }
  .team_squad  img{
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .profile_body_reset {
    display: none;
  }
}
aside ul {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

aside ul li {
  display: flex;
  gap: 15px;
  align-items: center;
}

.profile_section {
  max-width: 1230px;
  margin: 25px auto;
  border-radius: 15px;
  padding: 20px;
}

@media (max-width: 767px) {
  .profile_section {
    margin: 10px auto;
    padding: 10px;
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 767px) {
  .profile_body {
    display: flex;
    flex-direction: column;
  }
}

.profile_body_aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside_menu {
  border-radius: 15px;
  background-color: #1d202a;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 230px;
}

@media (max-width: 980px) {
  .aside_menu {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .aside_menu {
    width: 100%;
  }
}

.aside_menu a {
  padding: 9px 30px;
  font-size: 1rem;
  font-weight: 500;
}

.aside_menu a:not(.current_menu_tab) {
  color: #b4b4bb;
}

.current_menu_tab {
  background-color: #4d4d4d;
  border-left: 2px solid #2691df;
  color: var(--text-color);
}

.dropbtn {
  background-color: inherit;
  background-image: url(../assets/arrow_down.svg);
  height: 22px;
  width: 22px;
}

#profileModeBtn.close,
#profileBestOfBtn.close {
  transform: rotate(180deg);
}

#profileMode,
#profileBestOf {
  display: block;
}

.profile_body_menu {
  border-radius: 15px;
  background-color: #1d202a;
  width: 230px;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.profile_mode_menu_side {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 500;
  color: #b4b4bb;
  padding: 16px 15px;
}

@media (max-width: 980px) {
  .profile_body_menu {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .profile_body_menu {
    width: 100%;
  }
}

.menu_content_side_cell {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 15px;
  padding-top: 7px;
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu_content_side_cell input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 15px;
  height: 23px;
  width: 23px;
  background-color: #2d3036;
  border-radius: 5px;
  border: 2px solid #3a3a3a;
}

.menu_content_side_cell:hover input ~ .checkmark {
  border: 2px solid #b4b4bb;
}

.menu_content_side_cell input:checked ~ .checkmark {
  background-color: #2691df;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.menu_content_side_cell input:checked ~ .checkmark:after {
  display: block;
}

.menu_content_side_cell .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#profileBestOf.overlay,
#profileMode.overlay {
  border-bottom: 1px solid #696969;
  display: grid;
  row-gap: 20px;
  padding: 20px 0px;
}

.menu_content_side a:not(.current_mode_side),
.menu_content_side a:not(.current_best_of) {
  padding-left: 15px;
}

.profile_body {
  display: flex;
  gap: 15px;
}

.profile_body_menu_filter {
  padding: 18px 15px 7px 15px;
  border-bottom: 1px solid #696969;
  font-size: 1.125rem;
  font-weight: 500;
}

.profile_body_reset {
  text-align: center;
  background-color: #2691df;
  border-radius: 15px;
  padding: 15px 65px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.25rem;
}

@media (max-width: 980px) {
  .profile_body_reset {
    width: 160px;
    padding: 15px 25px;
  }
}

@media (max-width: 767px) {
  .profile_body_reset {
    display: none;
  }
}

.profile_table {
  border-radius: 15px;
  background-color: #1d202a;
  width: calc(100% - 230px);
}

@media (max-width: 980px) {
  .profile_table {
    width: calc(100% - 160px);
  }
}

@media (max-width: 767px) {
  .profile_table {
    width: 100%;
  }
}

.profile_table_title {
  padding: 18px 15px;
  border-bottom: 1px solid #696969;
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
}

.profile_table_content {
  display: flex;
  flex-direction: column;
  padding: 16px 15px;
}

@media (max-width: 767px) {
  .profile_table_content {
    width: 100%;
    overflow-x: scroll;
  }
}

.profile_table_header {
  color: #b4b4bb;
  font-weight: 400;
  font-size: 1.125rem;
}

.profile_table_header,
.profile_table_cell {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 2fr max-content;
  gap: 20px;
}

@media (max-width: 767px) {
  .profile_table_header,
  .profile_table_cell {
    width: 420px;
  }
}

@media (max-width: 767px) {
  .cell_map {
    height: 30px;
    width: 45px;
  }
  .cell_creator {
    height: 20px;
    width: 20px;
  }
}

.mock_table_expand {
  width: 24px;
}

.profile_table_cell {
  font-size: 1.125rem;
  font-weight: 500;
  align-items: center;
  padding-bottom: 18px;
  padding-top: 20px;
  border-bottom: 1px solid #696969;
}

.profile_table_cell:last-of-type {
  border-bottom: 0;
}

.map_name {
  display: flex;
  gap: 14px;
  align-items: center;
}
