:root {
  --text-color: #ffffff;
}

body {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  background-color: #000619;
  color: var(--text-color);
  overflow: hidden;
}

@media (max-width: 1600px) {
  body {
    overflow: visible;
  }
}

main {
  padding-top: 40px;
  padding-bottom: 40px;
  height: calc(100% - 80px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

@media (max-width: 1050px) {
  main {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  main {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
  }
}

.gradient {
  z-index: 2;
  opacity: 1;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-image: url("../assets/bg_gradient_big.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

section {
  background-color: #161a2b;
  border-radius: 15px;
  padding: 30px 32px;
  z-index: 3;
}

@media (max-width: 1050px) {
  section {
    width: 50%;
  }
}

@media (max-width: 800px) {
  section {
    width: 75%;
  }
}

@media (max-width: 600px) {
  section {
    width: 100%;
  }
}

.section1 {
  margin-left: 100px;
  margin-right: 150px;
}

.section2 {
  margin-right: 250px;
}

.section3 {
  margin-left: 250px;
}

.section4 {
  margin-right: 100px;
  margin-left: 150px;
}

@media (max-width: 1200px) {
  .section1 {
    margin-left: 75px;
    margin-right: 100px;
  }
  .section2 {
    margin-right: 175px;
  }

  .section3 {
    margin-left: 175px;
  }

  .section4 {
    margin-right: 75px;
    margin-left: 100px;
  }
}

@media (max-width: 1050px) {
  .section1 {
    margin: 0 auto;
  }
  .section2 {
    margin: 0 auto;
  }

  .section3 {
    margin: 0 auto;
  }

  .section4 {
    margin: 0 auto;
  }
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  font-weight: 500;
  font-size: 1.5rem;
}

@media (max-width: 1600px) {
  h2 {
    font-size: 1.5rem;
  }

  span {
    font-size: 1rem;
  }
}

@media (max-width: 1050px) {
  h2 {
    font-size: 2rem;
  }

  span {
    font-size: 1.5rem;
  }
}
